auto-save-list/
ac-comphist.dat
bookmarks
ede-projects.el
semanticdb*
.litable-lists.el
*.elc
personal.el
url/
.mc-lists.el
preconfig.el
userdata
projectile-bookmarks.eld
projectile.cache
.workgroups
/SessionDesktop.el
/perspectives
/skewer-cache/
/tramp
/persp-confs/
/var/
recentf
